@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --fs-28-32: clamp(1.75rem, 0.875rem + 2vw, 2rem);
  --fs-20-24: clamp(1.25rem, 0.375rem + 2vw, 1.5rem);
  --fs-14-16: clamp(0.875rem, 0.4375rem + 1vw, 1rem);

  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --white-3: hsl(0, 0%, 65%);

  --gold-1: hsl(41, 98%, 61%);
  --gold-2: hsl(41, 60%, 55%);
  
  --bg-1: hsl(228, 7%, 13%);
  --bg-2: hsl(0, 0%, 13%);

  --border: 1px solid #616161;

  --radius-1: 60px;
}
/* General Styles */
*,*::before,*::after{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
/* Scroll Bar */
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track{ background: var(--white-1); }
::-webkit-scrollbar-thumb{ background: var(--gold-2); }
::-webkit-scrollbar-thumb:hover{ background: var(--gold-1); }
h1{
  font-size: var(--fs-28-32);
  color: var(--gold-1);
  margin-bottom: 15px;
}
h2{
  font-size: var(--fs-20-24);
  color: var(--white-1);
}
p{
  font-size: var(--fs-14-16);
  color: var(--white-1);
}
a{ font-size: var(--fs-14-16); }

/* --==Nav Bar==-- */
nav{
  background: hsla(228, 7%, 5%, 0.3);
  backdrop-filter: blur(3px);
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  justify-content: end;
  align-items: center;
  height: 75px;
  width: 100%;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 25px;
  margin-right: 15%;
}
nav a{ color: var(--white-1); }

/* --==Header==-- */
header{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}
header img{
  object-fit: cover;
  user-select: none;
  height: 100%;
  width: 50%;
}
header .wrapper{
  background: hsla(228, 7%, 5%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.info{
  background: hsla(0, 0%, 5%, 0.8);
  backdrop-filter: blur(3px);
  height: fit-content;
  width: 70vw;
  padding: 20px;
  border-radius: 30px;
  border: var(--border);
}
.info .scroll > :not(:last-child){ margin-bottom: 12px; }
.info h1{ margin-bottom: -10px; }

/* --==Main=-- */
main article{ padding: 100px 0; }
.Cont{
  max-height: max-content;
  width: 1200px;
  margin-inline: auto;
}

/* --==Air Bnb==-- */
.Air-Bnb{
  background: var(--bg-1);
  border-radius: 0 0 0 var(--radius-1);
}
.Details td:first-child p{ margin-right: 6px; }
.Details span{ color: var(--white-1); }
.Air-Bnb section{
  display: flex;
  gap: 25px;
}
/* Google Maps */
.Air-Bnb iframe{
  width: min(500px, 100%);
  aspect-ratio: 8 / 7;
}
/* Information */
.Air-Bnb .Details{ height: fit-content; }
.Air-Bnb .Details a:hover{ text-decoration: underline; }
.Air-Bnb .Cost-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: fit-content;
  border-radius: 15px;
  border: var(--border);
}
.Air-Bnb .Cost-txt :first-child{ color: var(--gold-1); }
.Air-Bnb input{
  background: none;
  color: var(--white-1);
  padding-left: 4px;
  border: var(--border);
  width: 50px;
}
.Air-Bnb input:focus{ outline: none; }

/* --==Star City==-- */
.Star-City{
  background: #fff;
  border-radius: 0 var(--radius-1) var(--radius-1) 0;
  position: relative;
}
.Star-City::after{
  content: '';
  background: var(--bg-1);
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.Star-City section{
  display: flex;
  gap: 25px;
}
.Star-City p,
.Star-City li,
.Star-City h2{ color: var(--bg-1); }
.Star-City a{ text-decoration: underline; }
/* Img */
.Star-City img{
  user-select: none;
  width: min(450px, 100%);
  aspect-ratio: 8 / 7;
  border-radius: 15px;
}
/* Txt */
.Star-City ul{ margin-left: 20px; }
/* Buttons */
.Star-City .Discount_Btn{
  display: flex;
  position: relative;
  width: fit-content;
  border: var(--border);
  border-radius: 11px;
}
.Star-City .Discount_Btn .select{
  background: #333333;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  transition: 0.3s;
}
.Star-City .Discount_Btn.switch .select{ transform: translate(100%, 0); }
.Star-City button{
  background: transparent;
  white-space: nowrap;
  color: var(--gold-1);
  z-index: 1;
  font-size: var(--fs-14-16);
  width: clamp(125px, 4.2969rem + 7.5vw, 140px);
  padding: 0.7em 0.9em;
  border: none;
  cursor: pointer;
}

/* --==Footer==-- */
footer{
  background: var(--bg-1);
  padding: 50px 0;
  border-radius: var(--radius-1) 0 0 0;
}
footer .Cont > div{
  display: flex;
  flex-direction: row;
}
footer .Cont > div > h1{ padding-right: 10px; }
footer .table{
  padding-left: 20px;
  margin-right: auto;
  border-left: 2px solid #616161;
}
footer .Cont > p{ margin-top: 20px; }
footer h1{
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -18px;
  user-select: none;
  margin-bottom: 0;
  margin-left: auto;
}
footer h3{
  color: var(--white-1);
  margin-bottom: 2px;
}
footer p{ text-align: center; }
footer table{
  margin-bottom: 22px;
  border-collapse: collapse;
}
footer th,
footer td{
  padding: 7px;
  border: var(--border);
}
/* --==responsive==-- */
@media(max-width: 1250px){
  /* --==Nav Bar==-- */
  nav ul{ margin-right: 10%; }

  /* --==Main==-- */
  .Cont{ width: 900px; }
}
@media(min-width: 950px){
  /* --==Nav Bar==-- */
  nav a{ position: relative; }
  nav a::after{
    content:'';
    background: var(--gold-1);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: width 0.3s;
  }
  nav a:hover::after{ width: 100%; }
}
@media(max-width: 950px){
  /* --==Nav Bar==-- */
  nav ul{
    background: var(--bg-2);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -220px;
    height: 100vh;
    width: 220px;
    gap: 0;
    margin: 0;
    padding: 75px 20px 0;
    transition: 0.5s;
  }
  nav ul.show{
    left: 0;
    box-shadow: 0 0 10px hsl(222, 4%, 5%);
  }
  nav .Burger-Cont{
    display: flex;
    position: fixed;
    z-index: 10;
    top: 37.5px;
    left: 25px;
    transform: translate(0, -50%);
  }
  nav ul li{ padding: 15px 0; }
  nav a:hover{ color: var(--gold-1); }
  nav .Nav-Burger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    aspect-ratio: 7 / 8;
    cursor: pointer;
    transition: 0.3s;
  }
  nav .Nav-Burger .Bar{
    background: var(--white-1);
    height: 12%;
    border-radius: 100px;
    transition: 0.3s;
  }
  nav .Nav-Burger.on{ transform: rotateZ(180deg); }
  nav .Nav-Burger.on .Bar-Top{ transform: rotateZ(45deg) translate(26%, 200%); }
  nav .Nav-Burger.on .Bar-Bot{ transform: rotateZ(-45deg) translate(26%, -200%); }
  nav .Nav-Burger.on .Bar-Mid{ opacity: 0; }

  /* --==Header==-- */
  .info{ width: calc(100vw - 60px); }

  /* --==Main==-- */
  main article{ padding: 75px 0; }
  .Cont{ width: 700px; }
  .Air-Bnb section,
  .Star-City section{ flex-direction: column; }

  /* --==Air Bnb==-- */
  .Air-Bnb iframe{
    width: 100%;
    aspect-ratio: 3 / 2;
  }
  .Air-Bnb .Cost-txt,
  .Star-City img{ margin-inline: auto; }
}
@media(max-width: 740px){
  :root{ --radius-1: 40px; }
  /* --==Main==-- */
  .Cont{ width: 520px; }

  /* --==Footer==-- */
  footer h1{ letter-spacing: -15px; }
}
@media(max-width: 560px){
  /* --==Header==-- */
  header { flex-direction: column; }
  header img {
    height: 50%;
    width: 100%;
  }
  .info{
    width: calc(100% - 20px);
    padding: 15px;
    border-radius: 25px;
  }

  /* --==Main==-- */
  .Cont{ width: calc(100% - 30px); }

  /* --==Footer==-- */
  footer table{ margin-bottom: 15px; }
  footer th,
  footer td{ padding: 4px; }
}
@media(max-width: 350px){
  /* --==Header==-- */
  .scroll{
    overflow: hidden scroll;
    height: 60vh;
  }
  .scroll::-webkit-scrollbar{
    width: 3px;
    height: 3px;
  }
  .scroll::-webkit-scrollbar-track{ background: none; }
  .scroll::-webkit-scrollbar-thumb{
    background: hsla(0, 0%, 100%, 0.25);
    border-radius: 1.5px;
  }
  .scroll::-webkit-scrollbar-thumb:hover{ background: var(--gold-1); }
}